    /*
    Flaticon icon font: Flaticon
    Creation date: 05/03/2017 11:41
    */

    @font-face {
  font-family: "Flaticon";
  src: url("./Flaticon.eot");
  src: url("./Flaticon.eot?#iefix") format("embedded-opentype"),
       url("./Flaticon.woff") format("woff"),
       url("./Flaticon.ttf") format("truetype"),
       url("./Flaticon.svg#Flaticon") format("svg");
  font-weight: normal;
  font-style: normal;
}

@media screen and (-webkit-min-device-pixel-ratio:0) {
  @font-face {
    font-family: "Flaticon";
    src: url("./Flaticon.svg#Flaticon") format("svg");
  }
}

    .fi:before{
        display: inline-block;
  font-family: "Flaticon";
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  line-height: 1;
  text-decoration: inherit;
  text-rendering: optimizeLegibility;
  text-transform: none;
  -moz-osx-font-smoothing: grayscale;
  -webkit-font-smoothing: antialiased;
  font-smoothing: antialiased;
    }

    .flaticon-001-arrows-3:before { content: "\f100"; }
.flaticon-002-arrows-2:before { content: "\f101"; }
.flaticon-003-arrows-1:before { content: "\f102"; }
.flaticon-004-arrows:before { content: "\f103"; }
.flaticon-005-direction:before { content: "\f104"; }
.flaticon-006-arrow:before { content: "\f105"; }
    
    $font-Flaticon-001-arrows-3: "\f100";
    $font-Flaticon-002-arrows-2: "\f101";
    $font-Flaticon-003-arrows-1: "\f102";
    $font-Flaticon-004-arrows: "\f103";
    $font-Flaticon-005-direction: "\f104";
    $font-Flaticon-006-arrow: "\f105";