h1,
h2,
h3,
h4,
h5,
h6 {
  font-family: 'ABeeZee', sans-serif;
}

body {
  margin-top: 56px;
  color: #000;
  background-color: #FFFFFA;
}

img {
  background-color: #BD5CF3;
  padding: 5px;
}

footer {
  padding: 15px 0px;
}

section:first-child {
  height: 65vh;
}

.display-flex-column {
  display: flex;
  flex-direction: column;
}

.justify-center {
  justify-content: center;
}

.justify-around {
  justify-content: space-around;
}

.content-wrapper {
  height: 100%;
}

.content-text {
  color: #2D081F;
  display: inline-block;
  padding: 10px;
  font-size: 24px;
}

.text-deemphasize {
  color: #aaa;
}

.padding-20px {
  padding: 20px;
}

.margin-bottom-20px {
  margin-bottom: 20px;
}

.project-holder {
  margin-bottom: 20px;
}

.highlightable:hover {
  cursor: pointer;
  opacity: .75;
}

#contact-section {
  color: #2D081F;
}

.text-18px {
  font-size: 18px;
}

.btn-action {
  background-color: #9D37A1;
  color: #FFFFFA;
}

#project-section {
  text-align: center;
}

@media screen and (min-width: 990px) {
  #project-section {
    text-align: left;
  }
}


/* Color pallete from http://colorpalettes.net/color-palette-131/ 
#fff8f0 (Lightest)
#bb89c6
#7c7cb0
#5f3d91
#433f9e (Darkest)

#ac93d2
#baa5d9
*/
