h1, h2, h3, h4, h5, h6 {
  font-family: 'ABeeZee', sans-serif; }

body {
  margin-top: 56px;
  color: #000;
  background-color: #FFFFFA; }

img {
  background-color: #BD5CF3; }

section:first-child {
  height: 75vh; }

.display-flex-column {
  display: flex;
  flex-direction: column; }

.justify-center {
  justify-content: center; }

.justify-around {
  justify-content: space-around; }

.content {
  height: 75vh; }

.content-text {
  color: #2D081F;
  display: inline-block;
  padding: 10px;
  font-size: 18px; }

.text-deemphasize {
  color: #aaa; }

.padding-20px {
  padding: 20px; }

.margin-bottom-20px {
  margin-bottom: 20px; }

/* Color pallete from http://colorpalettes.net/color-palette-131/ 
#fff8f0 (Lightest)
#bb89c6
#7c7cb0
#5f3d91
#433f9e (Darkest)

#ac93d2
#baa5d9
*/
